@page
@model proiect_clinica.Pages.Servicii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Cauta serviciul dorit dupa nume:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Durata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Angajat.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Angajat.Prenume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Serviciu)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Durata)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pret)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Angajat.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Angajat.Prenume)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
